

<div class="card border-0 shadow-sm">
    <h3 class="card-header bg-primary text-white fw-bold text-center">Inventory Lists</h3>
    <div class="card-body border border-light bg-light">
        <div class="d-flex">
            
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Search By Product Name" aria-label="Search By Product Name" aria-describedby="addon-wrapping">
                    <span class="input-group-text" id="addon-wrapping">Search Products</span>
                  </div>
            
            <div>
                <button type="button" class="btn">Sort</button>
            </div>
        </div>
        
    </div>
    <div class="card-body" *ngIf="products.length > 0">
        <div class="table-responsive">
            <table class="table">
                <thead class="table-primary">
                    <tr>
        
                        <th>#</th>
                        <th>Image</th>
                        <th>name</th>
                        <th>available</th>
                        <th>manufacturer</th>
                        <th>category</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-" *ngFor="let product of products;let index= index" [ngClass]="product.isAvailable === false ? 'bg-danger':''">
                        

                        <td>{{index+1}}</td>
                        <td><img [src]="product.image" class="img-thumbnail" width="50"/></td>
                        <td>{{product.name}}</td>
                        <td>{{product.isAvailable}}</td>
                        <td>{{product.manufacturer}}</td>
                        <td>{{product.category}}</td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-primary"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                  </tbody>
            </table>
          </div>
    </div>
    <div class="card-body" *ngIf="products.length === 0">
            <p class="text-center">No data to show</p>

    </div>

